# Node & Frontend
frontend/node_modules/
frontend/dist/
frontend/.env
frontend/.env.local

# Python & Backend
backend/venv/
backend/__pycache__/
backend/*/__pycache__/
backend/*/*/__pycache__/
*.pyc
*.pyo
*.pyd
backend/.env
backend/.env.local

# Database / Local volumes
pgdata/

# OS and Editor files
.DS_Store
Thumbs.db
.vscode/
.idea/

# Zip artifacts
*.zip
